.Container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 75vh;
    z-index: 2;
    background-color: black;
}

.Instruments, .Results{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 10vw;
    justify-content: center;
}

.Graph{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    padding-top: 150px;
    padding-bottom: 200px;
}

.Result, .Instrument{
    padding-top: 5px;
}

.Graph > div{
    width: 50%;
}